# Bytecode & caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# Envs & secrets
.venv/
.env
.env.*

# Build/test
dist/
build/
.mypy_cache/
pytest_cache/

# Data & artifacts (keep raw/processed outside git)
data/
models/
mlruns/

# Editors/OS
.vscode/
.idea/
.DS_Store
